body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  height: calc(100vh - 20px);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100%;
}
.grid1 {
  display: grid;
  height: 35px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 35px;
}
.item1 {
  grid-column: 1/3;
}
.item2 {
  grid-column: 3/9;
}
.item3 {
  grid-column: 1/4;
}
.item4 {
  grid-column: 4/8;
}

.smallNumber {
  width: 2.5rem;
}

.mediumNumber {
  width: 3.5rem;
}

.bigNumber {
  width: 4.5rem;
}

select, input[type="text"]{
  width:100%;
  height:22px;
  box-sizing:border-box;
}

.collapsible {
  background-color: #111111;
  color: white;
  cursor: pointer;
  padding: 2px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #3f3f3f;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #1f0e0e;
}

.content.opened {
  max-height: 100%;
  transition: max-height 0.2s ease-out;
}

.overlayMessage {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  z-index: 69420;
}